<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>login</key>
	<string>login</string>
	<key>register</key>
	<string>register</string>
	<key>edit_profile</key>
	<string>edit_profile</string>
	<key>upload</key>
	<string>upload</string>
	<key>download</key>
	<string>download</string>
	<key>pswd_search</key>
	<string>pswd_search</string>
	<key>register_team</key>
	<string>register_team</string>
	<key>team_list</key>
	<string>team_list</string>
	<key>write_post</key>
	<string>write_post</string>
	<key>remove_post</key>
	<string>remove_post</string>
	<key>write_comment</key>
	<string>write_comment</string>
	<key>remove_comment</key>
	<string>remove_comment</string>
	<key>comment_list</key>
	<string>comment_list</string>
	<key>remove_notice</key>
	<string>remove_notice</string>
	<key>post_list</key>
	<string>post_list</string>
	<key>notice_list</key>
	<string>notice_list</string>
	<key>create_match</key>
	<string>create_match</string>
	<key>match_list</key>
	<string>match_list</string>
	<key>match_history</key>
	<string>match_history</string>
	<key>register_ground</key>
	<string>register_ground</string>
	<key>search_ground</key>
	<string>search_ground</string>
	<key>search_team</key>
	<string>search_team</string>
	<key>team_info</key>
	<string>team_info</string>
	<key>match_info</key>
	<string>match_info</string>
	<key>join_match</key>
	<string>join_match</string>
	<key>invite_team</key>
	<string>invite_team</string>
	<key>request_match</key>
	<string>request_match</string>
	<key>accept_match</key>
	<string>accept_match</string>
	<key>deny_match</key>
	<string>deny_match</string>
	<key>cancel_match</key>
	<string>cancel_match</string>
	<key>set_score</key>
	<string>set_score</string>
	<key>accept_score</key>
	<string>accept_score</string>
	<key>join_member_list</key>
	<string>join_member_list</string>
	<key>start_survey</key>
	<string>start_survey</string>
	<key>edit_team_profile</key>
	<string>edit_team_profile</string>
	<key>member_list</key>
	<string>member_list</string>
	<key>join_team</key>
	<string>join_team</string>
	<key>pending_list</key>
	<string>pending_list</string>
	<key>accept_member</key>
	<string>accept_member</string>
	<key>deny_member</key>
	<string>deny_member</string>
	<key>user_info</key>
	<string>user_info</string>
	<key>change_manager</key>
	<string>change_manager</string>
	<key>search_match</key>
	<string>search_match</string>
	<key>push_survey</key>
	<string>push_survey</string>
	<key>push_targetted_survey</key>
	<string>push_targetted_survey</string>
	<key>facebook_login</key>
	<string>facebook_login</string>
	<key>invite_member</key>
	<string>invite_member</string>
	<key>pending_team_list</key>
	<string>pending_team_list</string>
	<key>accept_team</key>
	<string>accept_team</string>
	<key>deny_team</key>
	<string>deny_team</string>
	<key>feed_list</key>
	<string>feed_list</string>
	<key>quit_team</key>
	<string>quit_team</string>
	<key>remove_account</key>
	<string>remove_account</string>
	<key>change_password</key>
	<string>change_password</string>
	<key>message_list</key>
	<string>message_list</string>
	<key>search_team_nearby</key>
	<string>search_team_nearby</string>
	<key>team_hint</key>
	<string>team_hint</string>
	<key>validate_email</key>
	<string>validate_email</string>
	<key>leave_team</key>
	<string>leave_team</string>
	<key>logout</key>
	<string>logout</string>
</dict>
</plist>
